h1,h2,h3,h4,h5,h6{
    font-family:"Helvetica", sans-serif;
    font-weight: 1000;
    font-style: none;
    color: rgb(192, 206, 214);
}

html{
    background-color: #e2e5e8;
}

@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
}


/*Header*/

nav{
    font-family: "Helvetica", cursive;
    font-weight: 750;
    top: 0;
    z-index: 1000;
}
nav strong{
    font-weight: 800;
}

.bg-kanye{
    background-color: #7a8ca4da;
}

/*Main*/

/*@media (min-width:1000px) {
    .previewVul{
        height: auto;
        width: auto;
        
    }
    .card{
        margin-left: 0;
        width: 100%;
        margin-right: 0;
        
    }
    .card-body{
        width: 50%;
    }
    .previewVul div img{
        width: 50%;
    }
}*/


.hero {
    height: auto;
    position: relative;
}

.hero img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
}

.hero div{
    /*background-color: #7a8ca4ca;*/
    position: absolute;
    border: black;
    border-radius: 5px;
    width: auto;
    height: auto;
    z-index: 4 ;
    display: inline-block;
    left: 0;
    bottom: 3px;
}

.hero h1{
    font-size: 40px;
    padding: 10px;
    text-align: center;
}

.index {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    margin-left: 50px;
    gap: 50px;
}

@media (max-width: 768px){

    .hero-content div h1{
        display: none;
    }

    .index {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-top: 50px;
    }

    .index-content{
        align-items: flex-start;
        gap: 30px ;
    }
    .index-content h2{
        font-size: 30px;
    }

    .index-img{
        width: 80%;
    }

    .index-content a{
        align-self: flex-start;
    }

    
}

.index-img {
    height: 400px;
    position: relative;
}

.index-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 2;
    position: relative;
}

.index-content {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.titleVult{
    color: #373737;
    font-size: 35px;
}

.index-content a {
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    width: 130px;
    text-align: center;
}
.index-content p{
    margin-top: 3px;
}

.botonVult{
    background-color: #686868;
}

.botonHist{
    background-color: #5296b3 ;
}

/* Historia*/

.bg-his{
    background-color: #ff4f6ff2;
}

.previewHis{
    margin-top: 50px;
    position: relative;
}

.previewHis article{
    position: absolute;
    display: inline-block;
    padding: 30px;
}

.previewHis article p{
    padding: 0;
    width: 90%;
    margin-left: 60px;
    margin-bottom: 100px;
    height: auto;
    margin-top: 10px;
}
.previewHis article h2{
    padding: 30px;
    color: #373737;
    font-size: 35px;
}

#NO{
    font-size: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.previewHis img{
    width: 500px;
    height: 400px;
    object-fit: cover;
    padding: 30px;
    display:inline ;
}

#linkYe{
    display: inline;
}

#TCD{
    text-decoration: none;
    font-weight: 600;
}

#YeFan{
    margin: 200px;
    margin-left: 400px;
    text-align: center;
    background-color: #f2274c;
    width: 600px;
    padding: 15px;
    border-radius: 10px;
}

#YeFan a{
    text-decoration: none;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 550;
    font-size: 30px;
    color: white;
}

/*Contacto*/

.bg-cont{
    background-color:  rgba(255, 255, 255, 0.812);
}



.contactos {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.contacto {
    display: flex;
    flex-direction: column;
    width: 310px;
    background-color: #49494983;
    position: relative;
    border-radius: 12px;
    margin-top: 100px;
    height: auto;
    padding: 5px;
}


.contacto-content h2,
.contacto-content p {
    color: rgb(41, 40, 40);
    text-align: start;
}

.contacto-content h2 {
    font-size: 24px;
}

.contacto-content form{
    font-weight: 500;
    font-family: Helvetica, sans-serif;
    color: #222222;
    font-size: 15px;
    height: 100%;
    width: auto;
}
.contacto-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    height: 400px;
}

.contacto-map {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #49494983;
    position: relative;
    border-radius: 12px;
    margin-top: 100px;
    overflow: hidden;
    height: 300px;
    padding: 5px;
}

.contacto-map iframe{
    height: 200px;
    width: 100%;
    padding: 2px;
}

.contacto-redes {
    display: flex;
    flex-direction: column;
    width: auto ;
    background-color: #49494983;
    position: relative;
    border-radius: 12px;
    margin-top: 100px;
    overflow: hidden;
    height: 300px;
    padding: 5px;
}


.contacto-redes ul li{
    margin-top: 30px;
    margin-left: 10px;
    font-family: "Helvetica", cursive;
    font-weight: 500;
    color: #222222;
    font-size: 15px;
}

.contacto-content ul li span{
    font-weight: 600;
}

/*Discografia*/

.bg-disc{
    background-color: #cb6361eb;
}

.disc{
    width: 40%;
    position: absolute;
    height: auto;
    display: inline-block;
    margin-top: 100px;
    margin-left:10px;
}


.disc article div{
    display: inline;
    margin-top: 20px;
    width: 100px;
}

.disc article div iframe{
    padding: 1px;
}
.discParr{
    margin-top:60px ;
    position: relative;
    width: 40%;
    margin-left: 600px;
}

.discParr article div{
    display: inline;
    position: absolute;
    padding: 30px;
    width: auto;

}

.discografia {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    height: auto;
    
}



.albums-content h2 {
    font-size: 35px;
    width: 300px ;
    color: rgb(233, 233, 233);
}

.albums-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.albums-content p{
    width: 300px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
}

.discografia article{
    border-radius: 12px;
    height: auto;
}

.graduation{
    background-color: #b25186;

}

.TCD{
    background-color: #7e1b1b;
}

.Ye{
    background-color:  #00193c;
}

.KSG{
    background-color: #005edada ;
}

.Late-registration{
    background-color: #353333;
}

#VulturesDisc{
    background-color: #402b2b;
}

.MBDTF{
    background-color:#e2193e ;
}

.TLOP{
    background-color: #ff7e3d;
}

.Yeezus{
    background-color: #6989c1;
}

.WTT{
    background-color: #8e7f42;
}

.Donda{
    background-color: rgb(45, 45, 45);
}

.Heartbreak{
    background-color: #829393;
}

.Jesus-is-king{
    background-color: blue;
}

/*Miscelaneos*/

.bg-misc{
    background-color:  rgba(248, 128, 30, 0.812);
}

.misc-h1{
    font-family:"Helvetica", sans-serif;
    font-weight: 1000;
    font-style: none;
    color:  rgb(248, 128, 30);
    background-color: #2e2e2e85;
    border-radius: 10px;
}

.carousel{
    margin-top: 50px;
    padding: 20px;
}

.carousel-item{
    height: 500px;
}


.carousel-item img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    transition: 1s;
}

.bg-carousel{
    background-color: #000000b3;
    border-radius: 5px;
}

.carousel-caption{
    opacity: 0;
    transition: 2s;
}

.carousel:hover .carousel-caption{
    opacity: 1;
    height: auto;
    padding: 5px;
    width: auto;
}

.carousel:hover .carousel-item img{
    filter: blur(2px);
}

.carousel-item button{
    margin: 0;
    box-sizing: border-box;
    padding: 6px;
    background-color: #686868;
    border-radius: 5px;
    margin-left: 30px;
}

.carousel-item button a{
    color: white;
    text-decoration: none;
}

.carousel-item iframe{
    border-radius: 20px;
    height: 100px;
    width: auto;
}

@media (max-width: 768px){
    .carousel-item iframe{
        width: 100%;
        height: 110px;
    }
}

/*Footer*/

footer{
    height: 200px;
    background-color: #a9b4c35b ;
    margin-top: 200px;
    text-align: center;
    bottom: 0;
}

footer div p{
    padding-top: 50px;
}